<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/anwer/IdeaProjects/TestingFramework_API">
        <classes>
            <class name="com.api.tests.AuthenticationServiceTest">
                <methods>
                    <include name="loginTest"/>
                    <include name="forgotPasswordTest"/>
                    <include name="signupTest"/>
                </methods>
            </class>
            <class name="com.api.tests.DemoTest1">
                <methods>
                    <include name="loginAPI"/>
                </methods>
            </class>
            <class name="com.api.tests.DemoTest2">
                <methods>
                    <include name="loginAPI"/>
                </methods>
            </class>
            <class name="com.api.tests.UserManagementServiceTest">
                <methods>
                    <include name="getProfileTest"/>
                    <include name="updateProfileTest"/>
                    <include name="changePasswordTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>